/*
Start of Articles Section Styles

Used for styling how the section of articles sits on the page
 not the articles themselves
*/

.articlesSection{
    /* height: 100%;
    width: 100%; */
    width: 320px;
}


/*
Start of Article Module Styles
*/

.container { 
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0fr 0.25fr 0.25fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "articleImage articleImage articleImage articleImage"
    "articleImage articleImage articleImage articleImage"
    "authorAndDate authorAndDate authorAndDate authorAndDate"
    "title title title title"
    "article article article article"
    "article article article article";
    /* border-top: 2px solid rgba(0,0,0,0.5); */
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin: 1rem 0 0 0;
}


/**/

.container:last-child {
    border-bottom: 2px solid rgba(0,0,0,0.5);
    
}

/**/

.articleImage { 
    grid-area: articleImage; 
    width: 100%;
    object-fit: cover;
    height: auto;
    max-width: 600px;
}

/**/

.authorAndDate { 
    grid-area: authorAndDate; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;}

/**/

.title { 
    grid-area: title;
    margin: 0;
}

/**/

.article { 
    grid-area: article; 
    margin: 0;
}

/*End of Article Module Styles*/

/*Media Queries*/