
/* Colors defined in root variables */

/*
Start of Articles Section Styles
*/

.articlesSection{
    width: 320px;
    padding: 1rem;
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* First Child of Articles Section */
.articlesSection > :first-child {
    padding: 75px 0 0 0;
}

/* Top News heading of articles section */
.heading {
    max-width: 1000px;
    width: 100%;
    font-size: 2rem;
    padding: 75px 0 0 ;
}

/*
Start of Article Module Styles
*/
.container { 
    display: grid;
    /* 4 columns 5 rows */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.85fr 0.25fr 0.25fr 0.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    /* Default Grid Layout but most likely will be altered in the media queries*/
    grid-template-areas:
    "articleImage articleImage articleImage articleImage"
    "authorAndDate authorAndDate authorAndDate authorAndDate"
    "title title title title"
    "article article article article"
    "article article article article";
    border: 3px solid var(--white);
    max-width: 1000px;
    padding: 1rem 1rem 2rem 1rem;
    margin: 1rem 0 1rem 0;
    color: var(--black);
    transition: 0.75s;
}


/* On hover for individual article */
.container:hover {
  border: 3px solid var(--red);
  color: var(--black);
}
.container:hover .arrow{
    visibility: visible;
}
/* End of article hover */

/* Initial styles for Article Elements */
.articleImage { 
    grid-area: articleImage; 
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 600px;
    box-shadow: 1px 0 3px var(--grey);
}

/**/

.authorAndDate { 
    grid-area: authorAndDate; 
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 1rem 0 0 0;
}
.authorAndDate :first-child{
    padding: 0 0 1rem 0;
    margin: 0;
    text-decoration: underline;
    font-weight: 700;
    font-size: 1em;
}

p:first-of-type + time{
    font-weight: 700;
}

/**/

.title { 
    grid-area: title;
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
}

/**/

.article { 
    grid-area: article; 
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-end;
    font-size: 1rem;
}
/* End of intial styles */

/*End of Article Module Styles*/


/* Start of Arrow Icon Styles */


/* Icon from https://css.gg/arrow-right */
   .arrow {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 22px;
    height: 22px;
    visibility: hidden;
    color: var(--red);
    padding: 0 1rem 0 0;

}
.arrow::after,
.arrow::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    right: 3px
}
.arrow::after {
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    bottom: 7px
}
.arrow::before {
    width: 16px;
    height: 2px;
    bottom: 10px;
    background: currentColor
}



/*Media Queries*/

/* Mobile Styles */
@media only screen and (max-width: 480px) {
    .articlesSection{
        width: 100%;
    }

    /* Single Column Layout */
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 0fr 0.25fr 0.25fr 0.5fr 0.5fr;
        grid-template-areas:
        "articleImage"
        "articleImage"
        "authorAndDate"
        "title"
        "article"
        "article";
    }
    .articleImage {
        box-shadow: none;
    }
        /* switching author and date element direction */
    .authorAndDate {
        flex-direction: column;
    }

    /* arrow visible without hovering for mobile */
    .arrow{
        visibility: visible;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .articlesSection{
        width: 100%;
    }
    /* two column layout */
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 0.25fr 0.25fr 0.5fr;
        grid-template-areas:
        "articleImage articleImage"
        "articleImage articleImage"
        "authorAndDate authorAndDate"
        "title title"
        "article article";
    }

    .articleImage {
        width: 100%;
    }

    /* larger screen so space is added to author and date 
    as well as it is now flex-direction row */
    .authorAndDate {
        justify-content: space-between;
    }
}

/* Changes layour at screen min-width 600px
 Article grid has 3 rows and 4 columns

*/
@media only screen and (min-width: 600px) {

    .articlesSection{
        width: 100%;
    }

    /* 4 column layout */
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.25fr 0.25fr;
        grid-template-areas:
        "articleImage articleImage articleImage title"
        "articleImage articleImage articleImage authorAndDate"
        "article article article article";
    }
    /* padding added to the left to push away from image */
    .title {
        justify-self: center;
        align-self: center;
        padding: 0 0 0 1rem;

    }
    .articleImage {
        width: 100%;
    }
    /* Padding added to the left to push away from image */
    .authorAndDate {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 0 0 1rem;
    }
    /* padding top */
    .article{
        padding: 2rem 0 0 0;
    }

}
/* larger font at screen size and up */
@media only screen and (min-width: 800px) {
    .article {
        font-size: 1.3rem;
    }
}



/* Changes article layout at min-width 1000px 
 The first article is displayed in a different layout
and every 2nd article the Title Author and Date are changed to display on the opposite edge*/

@media only screen and (min-width: 1000px) {

    /* 4 column layout for Top Article that differes from the rest of the elements  */
    .container:first-of-type:Link  {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 1fr 0.25fr 0.15fr 0.25fr;
        grid-template-areas:
        "title title title title"
        "articleImage articleImage articleImage articleImage"
        "articleImage articleImage articleImage articleImage"
        "authorAndDate authorAndDate authorAndDate authorAndDate"
        "article article article article";
    }

    /* Image size is larger for first element */
    .container:first-of-type:Link .articleImage {
        object-fit: contain;
        max-width: 1000px;
    }

    .container:first-of-type:Link .authorAndDate {
        flex-direction: row;
    }

    /* 4 column layout for every 2nd article */
    .container:nth-child(2n + 2) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 0.25fr 0.25fr;
        grid-template-areas:
        "title articleImage articleImage articleImage"
        "authorAndDate articleImage articleImage articleImage"
        "article article article article";
    }

    /* Removed padding for the author and date element as it aligns with the title at this size */
    .authorAndDate {
        padding: 0;
    }
    /* If removed title will not align with author and date */
    .title {
        padding: 0 1rem 0 0;
    }
}