*{
    box-sizing: border-box;
}

.footer-container{
    height: 200px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;    
  
}

.footer-inside h3{
    font-size: medium;
}

.footer-inside p{
    font-size: 12px ;
    margin-top: 0px;
    
}
.footer-inside a{
    text-decoration: none;
}
.footer-inside a:visited{
    color: blue;
}
.footer-inside{
    display: grid;
    border-top: 1px grey solid;
    position: relative;
    left: 20px;
    width: 98%;
    justify-content: center;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    text-align: start;
    height: 175px;
    font-size: 10px;
    padding: 20px 10px 10px 10px;

}

footer{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    background-color: black;
    color: white;
    height: auto;

    margin-top: 15%;
    justify-content: center;
    text-align: center;
    padding: 20px;


}
@media (max-width: 1100px) {
    .footer-inside { grid-template-columns: repeat(3, 1fr); }
  }
@media (max-width: 500px) {
    .footer-inside { grid-template-columns: repeat(2, 1fr); }
  }
