/* Use this css file for globally */

/* root styling - feel free to change or add if any color preference you have
once we set upt root color we should stick with the color we have in root variable*/
:root {
  --blue: #1e90ff;
  --navy: #3f51b5;
  --white: #ffffff;
  --lightgrey: #cbcbcb;
  --red: rgb(255, 85, 84, 0.8);
  --black: hwb(0 13% 87%);
  --grey: #888888;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  font-family: Stag Medium, Trebuchet;
  width: 100%;
}
/*  

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
}

.index-wrapper {
  margin-top: 75px;
}

@media (min-width: 760px) {
  .index-wrapper {
    margin-top: 100px;
  }
}
